html {
	background-color: #222226;
	color: white;
	font-family: 'Muli', sans-serif;
}
body {
	width: 800px;
	margin: auto;
}

canvas {
	width: 800px;
	height: 600px;
	background-color: black;
/*	border: 10px #777 solid;*/
}

article {
/*	margin: auto;
	width: 800px;
	padding: 20px;*/
}

header {
	margin: 0;
}
header h1 {
	margin: 0 0 0 -12px;
	padding: 0;
	font-size: 96px;
	font-weight: bold;
}
header h2 {
	margin: -24px 0 0 0;
	padding: 0 ;
}
header p {
	margin-top: 0;
	padding: 0 0 0 2px;
}

h2 {
	font-size: 24px;
	margin: 12px 0;
}
	h2 .right-title {
		float: right;
	}

ul {
	margin: 0;
}
p, li {
	font-size: 12px;
	margin: 12px 0;
}
ul.posts li {
	font-size: 24px;
}
a, a:visited {
	color: #AAAABE;
}